.dropdown {
	display:none;
	position: absolute;
	top:20px;
	left:0;
}

a[data-dropdown]:hover + .dropdown {
	display:block;
}

.dropdown:hover {			
	display:block;
}

.dropdown .dropdown-menu {
	background:#374760;
	border-radius: 4px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	color:white;
    list-style: none;
	margin: 0;
	max-height:200px;
	min-width: 160px;
	max-width:360px;
	overflow: visible;
	overflow-y:scroll!important;
	padding:10px 0px;
	text-align:left;
}

#dropdown-1 .dropdown-menu {
	width:280px;
}

#dropdown-2 .dropdown-menu {
	width:180px;
}


#dropdown-5 .nohover {
	padding:4px 20px!important;
}

#dropdown-6 .dropdown-menu {
	width:230px;
}

.dropdown.dropdown-tip {
	margin-top: 4px;
}

.dropdown.dropdown-tip-right {
	margin-top: 4px;
}

.dropdown.dropdown-tip:after {
  position: absolute;
  top: -5px;
  left: 10px;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #374760;
  display: inline-block;
}

.dropdown.dropdown-tip-right:after {
  position: absolute;
  top: -5px;
  right: 20px;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #374760;
  display: inline-block;
}


#sort .wrapper li .dropdown .dropdown-menu li {
	cursor:pointer;
	display:block;
	line-height: 18px;
	list-style: none;
	margin:0;
	padding:4px 15px;
	white-space:nowrap;
}

.dropdown .dropdown-menu li span {	
	text-align:left;
}

.dropdown-menu li:hover {					
	background:#4a5e7d;
}

.dropdown-menu li.nohover:hover {
	background:transparent;
}

.dropdown-menu li.nohover {
	margin-bottom:10px!important;
}

.dropdown-menu li input {						
	text-align:right;
}


input[type=checkbox] {					visibility: hidden;}

#dropsearch, #search {
	background:#fff url('../images/icon-search.png') no-repeat;
	background-position:7px 50%;
	border:0 none;
	border-radius:4px;
	color:#bbb;
	display:block;
	padding: 6px 5px 6px 25px;
	text-align:left;
	width:225px;
}

#dropsearch:focus, #search:focus {
	color:#000;
}

a.x {
	background:url('../images/icon-x.png') no-repeat;
	display:none;
	height:14px;
	margin:0!important;
	padding:0!important;
	position:absolute;
	right:20px;
	top:9px;
	width:14px;
}

.checkbox1 {							width: 10px;float:right;position: relative;}
.checkbox1 label {						cursor: pointer;position: absolute;width: 10px;height: 10px;top: 0;left:0;background: #212b3a!important;padding:2px!important;margin-top:2px!important;}
.checkbox1 label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 5px;
	height: 3px;
	background: transparent;
	top: 3px;
	left: 3px;
	border: 3px solid #fff;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.checkbox1 label:hover:after {					opacity:0.5;}
.checkbox1 label:hover {	background:transparent;}
.checkbox1 input[type=checkbox]:checked + label:after {
	opacity: 1!important;
}

.dropdown-menu li:hover > .checkbox1 label:after {				opacity:0.5;}

#dropdown-user {	
	left:-20px;			
	top:25px;
}

#dropdown-user .dropdown-menu {
	background:#35c2ab;
	color:#8797a8;
	padding-bottom:0;
	width:180px;
}

#dropdown-user .dropdown-menu li:first-child {
	background:#2ab7d1;
	color:white;
	margin-top:-10px;
}
#dropdown-user .dropdown-menu li {
	background:#fff;
	padding:10px 20px;
}

#dropdown-user .dropdown-menu li:first-child a {
	color:#fff;
}

#dropdown-user .dropdown-menu li a {
	color:#748185;
}


#dropdown-user.dropdown-tip-right:after {
	border-left: 8px solid transparent;
    border-right: 8px solid transparent;
	border-bottom: 8px solid #2ab7d1;
	top:-7px;
	right:82px;
}