{# forgot_password.html #}
{% extends "base.html" %}
{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<body>
	<div class="centered">
		
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<ul class=flashes>
    				{% for message in messages %}
    					<li>{{ message }}</li>
    				{% endfor %}
    			</ul>
    		{% endif %}
    	{% endwith %}
		{% block main %}{% endblock %}

		<h1>Course<span class="red">App</span></h1>
		<form action="" method="POST" class="form" role="form">
		    {{ form.hidden_tag() }}
		    {{ render_field(form.email, tabindex=10) }}
		    {{ render_submit_field(form.submit, tabindex=90) }}
		    
		</form>
		
		
	</div><!--.centered-->
	<ul id="form_meta">
	{% if user_manager.enable_register and not user_manager.require_invitation %}
	    <li>Not a member? <a href="{{ url_for('user.register') }}" tabindex='190'>
	        {%trans%}Sign up now{%endtrans%}</a> &#10142;</li>
	{% endif %}
		<li><a href="{{ url_for('about') }}">Learn more</a>
	
	</ul>
</body>
{% endblock %}